:root { 
--black_900_4c:#0000004c; 
--gray_700:#62676d; 
--gray_500:#a3a3a3; 
--blue_gray_100:#d7d8dc; 
--blue_gray_400:#8b8f98; 
--gray_900_99:#1f202499; 
--gray_800:#3c3f44; 
--gray_900:#1f2024; 
--indigo_A100:#8779ff; 
--deep_purple_A200_7e:#7a6aff7e; 
--gray_100:#f3f3f3; 
--black_900_33:#00000033; 
--purple_500_7e:#9721ce7e; 
--deep_purple_A200:#5e4bfa; 
--blue_gray_900:#313236; 
--white_A700:#ffffff; 
--deep_purple_A200_01:#7a6aff; 
}